body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
  }
  
  label, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="url"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    border: none;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  